@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la pagina de chatbots</h1>
    <p>Elija su chatbot favorito y realice su pregunta</p>
</div>
